Repository hkevin01/csneps-robotics-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-owner, @clojure-maintainer, @python-maintainer, @cpp-maintainer, @devops-maintainer, @docs-maintainer, @protocol-maintainer

.github/CODEOWNERS:

# Global owners
* @repository-owner

# CSNePS Core (Clojure)
/src/csneps-core/ @clojure-maintainer

# Python Adapters
/src/adapters/python/ @python-maintainer

# C++ Adapters
/src/adapters/cpp/ @cpp-maintainer

# Docker and DevOps
/docker/ @devops-maintainer
/.github/ @devops-maintainer

# Documentation
/docs/ @docs-maintainer
README.md @docs-maintainer

# Protocol definitions
/proto/ @protocol-maintainer

Add CSNePS Robotics Inference Demo Script and Unit Tests
  .copilot/instructions.md
  README.md
  docker/compose.yaml
  docs/project-plan.md
  proto/observations.proto
  proto/queries.proto
  scripts/run_csneps.sh
  scripts/run_tests.sh
  scripts/setup-dev.sh
  src/adapters/python/csri_bridge/__init__.py
  src/csneps-core/project.clj
  src/csneps-core/resources/sample-kb.edn
  src/csneps-core/src/csri/core.clj
  src/csneps-core/src/csri/kb/ontology.clj
  src/csneps-core/src/csri/kb/rules.clj
  src/csneps-core/test/csri/core_test.clj
  src/python-bridge/csri_client.py
  src/python-bridge/demo_all.py
  src/python-bridge/requirements.txt
  src/python-bridge/test_csri_client.py
Owners: @repository-owner, @docs-maintainer, @devops-maintainer, @protocol-maintainer, @python-maintainer, @clojure-maintainer

feat: Implement initial Graph Service with gRPC and REST APIs
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClient.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClientBuilder.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/examples/ClientExample.java
  java/csri-kg-client/src/main/proto/graph.proto
  java/csri-kg-service/src/main/java/com/csri/kg/service/CsriKgServiceApplication.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/core/CsnepsIntegrationService.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/grpc/GrpcServer.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/GraphController.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/dto/AssertBatchRequest.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/dto/AssertionDTO.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/dto/ProvenanceDTO.java
  java/csri-kg-service/src/main/proto/graph.proto
  java/csri-kg-service/src/main/resources/application.yml
  java/csri-kg-service/src/test/java/com/csri/kg/service/CsriKgServiceApplicationTest.java
  src/csneps-core/project.clj
  src/csneps-core/src/csri/core.clj
Owners: @repository-owner, @clojure-maintainer

Implement mock services for CSNePS integration, gRPC server, and OWL to CSNePS conversion
  .gitlab-ci.yml
  COMPLETION_REPORT.md
  FINAL_SUMMARY.md
  README.md
  java/backup/core/CsnepsIntegrationService.java
  java/backup/grpc/GrpcServer.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClient.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClientBuilder.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/examples/ClientExample.java
  java/csri-kg-service/FINAL-STATUS-COMPLETE.md
  java/csri-kg-service/README-v0.1.0-COMPLETE.md
  java/csri-kg-service/src/main/java/com/csri/kg/service/CsriKgServiceApplication.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/core/CsnepsIntegrationServiceMock.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/core/CsnepsIntegrationServiceSimple.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/grpc/GrpcServer.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/grpc/GrpcServerSimple.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/GraphController.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/dto/AssertBatchRequest.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/dto/AssertionDTO.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/dto/ProvenanceDTO.java
  java/csri-kg-service/src/main/resources/application.yml
  java/csri-kg-service/src/test/java/com/csri/kg/service/CsriKgServiceApplicationTest.java
  java/csri-owl-tools/src/main/java/com/csri/owl/tools/OwlToCsnepsConverter.java
  ontology/owl/robotics.owl
  ontology/shacl/robotics-constraints.ttl
  src/csneps-core/src/csri/core.clj
Owners: @repository-owner, @docs-maintainer, @clojure-maintainer

feat: Implement caching configuration for CSRI Knowledge Graph Service
  README_FINAL.md
  README_new.md
  docs/schemas/assert-batch.schema.json
  docs/schemas/assertion.schema.json
  java/csri-kg-service/src/main/java/com/csri/kg/service/cache/CacheConfig.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/core/CsnepsIntegrationService.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/core/CsnepsIntegrationServiceMock.java
  java/csri-owl-tools/src/main/java/com/csri/owl/tools/ShaclValidatorTool.java
  java/jung-renderer/src/main/java/com/csri/kg/viz/GraphSvg.java
  java/tools/jung-renderer/src/main/java/com/csri/render/GraphSvg.java
  ontology/owl/core.owl
  ontology/shacl/core-shapes.ttl
  src/csneps-core/project.clj
  src/csneps-core/resources/generated/csneps-rules.edn
  src/csneps-core/src/csri/http_server.clj
Owners: @repository-owner, @docs-maintainer, @clojure-maintainer

Replace README.md with formatted and cleaned versions; add backup scripts for README management
  README.md
  README_BACKUP.md
  README_BACKUP_DUPLICATE.md
  README_CLEAN.md
  README_FINAL_FORMATTED.md
  README_NEW_CLEAN.md
  fix_readme.sh
  java/csri-owl-tools/src/main/java/com/csri/owl/tools/ShaclValidatorTool.java
  replace_readme.sh
Owners: @docs-maintainer, @repository-owner

refactor: Update method names and improve logging in CsriKgClient; remove deprecated graph_new.proto file
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClient.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/examples/ClientExample.java
  java/csri-kg-client/src/main/proto/graph.proto
  java/csri-kg-client/src/main/proto/graph_new.proto
Owners: @repository-owner

feat: Enhance CsriKgClient with robust error handling, performance monitoring, and connection management
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClient.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClientBuilder.java
  java/csri-kg-client/src/main/java/com/csri/kg/client/examples/ClientExample.java
  java/csri-kg-client/src/main/proto/graph.proto
  java/jung-renderer/src/main/java/com/csri/kg/viz/GraphSvg.java
Owners: @repository-owner

feat: Update Docker orchestration with enhanced service management, health checks, and GPU support; add comprehensive test scripts
  README-docker.md
  docker/compose.yaml
  java/csri-kg-client/src/main/java/com/csri/kg/client/CsriKgClient.java
  run.sh
  setup.sh
  test-docker.sh
Owners: @repository-owner, @devops-maintainer

Add enhanced visualization and conversion services
  deploy.sh
  docs/IMPLEMENTATION_COMPLETE.md
  java/csri-kg-service/src/main/java/com/csri/kg/service/client/CsnepsBridgeClient.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/validation/ShaclValidationService.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/visualization/EnhancedSubgraphRenderer.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/visualization/SubgraphLayoutService.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/EnhancedGraphController.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/web/VisualizationController.java
  java/csri-owl-tools/src/main/java/com/csri/owl/tools/EnhancedOwlToCsnepsConverter.java
  src/csneps-core/src/csri/http_server.clj
  src/perception/gpu_perception_service.py
Owners: @repository-owner, @docs-maintainer, @clojure-maintainer

feat: Add comprehensive production deployment and testing scripts for CSNePS Graph Visualization
  PRODUCTION_READY_SUMMARY.md
  ROADMAP_COMPLETION_SUMMARY.md
  java/csri-kg-client/src/main/proto/graph_new.proto
  java/csri-kg-service/src/main/java/com/csri/kg/service/controller/VisualizationController.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/core/CsnepsIntegrationService.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/core/CsnepsIntegrationServiceMock.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/grpc/GrpcServerMock.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/visualization/EnhancedGraphRenderer.java
  java/csri-kg-service/src/main/java/com/csri/kg/service/visualization/ServerGraphRenderer.java
  java/tools/jung-renderer/src/main/java/com/csri/render/GraphSvg.java
  java/tools/jung-renderer/test_fr.svg
  java/tools/jung-renderer/test_kk.svg
  java/tools/jung-renderer/test_layout.json
  java/tools/jung-renderer/test_output.svg
  java/tools/jung-renderer/test_production.svg
  production_deployment_guide.sh
  quick_test_jung.sh
  src/csneps-core/src/csri/http_server.clj
  test_complete_implementation.sh
  test_final_implementation.sh
  test_gui_roadmap.sh
  test_jung_renderer.sh
  test_jung_roadmap.sh
  test_jung_simple.sh
  test_subgraph.json
  test_subgraph.sh
  visualization_test.html
Owners: @repository-owner, @clojure-maintainer

Add comprehensive test scripts for CSNePS Docker orchestration and GUI iteration roadmap implementation
  docs/CLEANUP_COMPLETE.md
  docs/FINAL_SUMMARY.md
  docs/PRODUCTION_READY_SUMMARY.md
  docs/README-docker.md
  docs/ROADMAP_COMPLETION_SUMMARY.md
  docs/backups/README_BACKUP.md
  docs/backups/README_BACKUP_DUPLICATE.md
  docs/backups/README_CLEAN.md
  docs/backups/README_FINAL.md
  docs/backups/README_FINAL_FORMATTED.md
  docs/backups/README_NEW_CLEAN.md
  docs/backups/README_new.md
  docs/deployment/production_deployment_guide.sh
  scripts/fix_readme.sh
  scripts/replace_readme.sh
  tests/data/test_subgraph.json
  tests/integration/test-docker.sh
  tests/integration/test_complete_implementation.sh
  tests/integration/test_final_implementation.sh
  tests/integration/test_gui_roadmap.sh
  tests/integration/test_subgraph.sh
  tests/jung/quick_test_jung.sh
  tests/jung/test_jung_renderer.sh
  tests/jung/test_jung_roadmap.sh
  tests/jung/test_jung_simple.sh
  tests/visualization_test.html
Owners: @docs-maintainer, @repository-owner
